
.greeting-section{
    background-color: red;
    flex: 1;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}


.greeting-container{
    font-size: 3rem;

}