.admin-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.admin-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; /* può occupare tutto lo spazio disponibile nel flex container padre */

}